<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple chat application using socket.io">
    <meta name="author" content="Agustian Rinaldy">
    <link rel="icon" href="images/favicon.ico">
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="socket.io/socket.io.js"></script>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/chat-handler.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <title><%= title %></title>
</head>
